@page
@model IndexModel
@{    
    ViewData["Title"] = "BBEZ ITECH Home";
}

<div class="text-center">
    <h1 class="display-4">Hello World from BBEZ ITECH app-demo</h1>
    <p>Learning how to deploy WebApps using Azure App Service is always fun with bbezItech Cloud Mentors
    <p>Click to learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
<p>
    <hr />
    <p>Let's go coding, guys!
</div>
